body { font-family: sans-serif; margin: 0; background-color: #393E46; }
header { background: #222831; color: #fff; padding: 1rem; text-align: center; }
input[type="text"] { width: 60%; padding: 8px; }
main {justify-content: center; padding: 1rem; }
.product-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    width: 200px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.product-card img { max-width: 100%; height: auto; border-radius: 1000px;}
.product-card h3 { font-size: 1.1em; }
.product-card p { color: #888; }
.product-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 20px;
    margin: 10px;
    padding: 15px;
    width: 200px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(98, 95, 95, 0.1);
    transition: transform 0.3s ease;
}

.product-card:hover {
    transform: scale(1.05);
}

.loader {
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem;
    color: #555;
}
.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.h1-color {
    background: url(https://i.pinimg.com/736x/32/93/21/329321959fcaf0d24e2349ccf8c9407a.jpg);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: white; 
    color: transparent;
    filter: drop-shadow(2px 2px 5px rgb(255, 255, 255));
    animation: tt 30s linear infinite;
}

@keyframes tt {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: -100%;
    }
}

.h1-color {
    font-family: 'Prompt', sans-serif;
}

#product-list {
    display: flex;
    flex-wrap: wrap; /* ถ้ามีหลายสินค้า */
    justify-content: center; /* จัดสินค้าให้อยู่ตรงกลางแนวนอน */
    gap: 20px; /* ระยะห่างระหว่างสินค้า */
    padding: 20px;
}

.product-card:hover {
    box-shadow: 0 8px 30px #EEEEEE;
    transform: translateY(-5px); /* ขยับขึ้นเล็กน้อย */
}

.product-card {
    display: inline-block;
    position: relative;
    padding: 1px 1px;
    cursor: pointer;
    overflow: hidden;
}

.product-card::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0; /* เริ่มต้นนอกจอด้านซ้าย */
    width: 0;
    height: 2px;
    background: #222831;
    transition: width 2s ease;
  
}

.product-card:hover::after {
    width: 100%;
}

.search-container input {
    border-radius: 50px;
    box-shadow: 0px 2px 2px rgb(0, 251, 255);
}